@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chivo', sans-serif;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
