@media (max-width: 550px) {
  main {
    .container {
      .result {
        width: 100%;

        h4 {
          font-size: 12px;
          text-align: center;
        }
      }
      .note {
        width: 100%;
      }
    }
  }
}

@media (max-width: 450px) {
  main {
    .container {
      header {
        h1 {
          font-size: 25px;
          letter-spacing: 2px;
        }
      }
      .timer {
        span {
          font-size: 25px;
        }
      }
      .quotes-container {
        margin: 0;
      }
    }
  }
}

@media (max-width: 401px) {
  main {
    .container {
      .result {
        .errors {
          h4 {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
